<h2 class="page-header"> Mensajes <%= contact.User.nombre %></h2>

<style>
  #listMessages { padding: 5px 10px;}
  #listMessages:first-letter { text-transform: uppercase;}
  #listMessages li:nth-child(odd) { background: #eee; }
  .panel-body {
    height: calc(90vh - 210px);
    overflow-y: auto;
  }
</style>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        CHAT
      </div>
      <div id="listMessages" class="panel-body">
        <% var i; if (messages) { for (i=0; i < messages.length; i++){ %>
        <% if (messages[i].mes_read == 0) { %>
          <b><%= messages[i].User.nombre %>:</b> <span class="text-success"><%= messages[i].mes_message %> </span></br>
          <script>
          $(window).load(function() {

          });
          </script>
        <% } else { %>
          <b><%= messages[i].User.nombre %>:</b> <%= messages[i].mes_message %> </br>
        <% }}} %>
      </div>
    </div>
  </div>
</div>

<form id="newMessage" method="post" action="/contact/message/create">
  <div class="row">
    <div class="input-group">
      <input id="Message" type="text" name="message[message]" class="form-control" placeholder="Mensaje" autocomplete="off" />
      <input id="Contact1" type="hidden" name="message[contact1]" value="<%= contact.UserId %>" />
      <input id="Contact2" type="hidden" name="message[contact2]" value="<%= contact.con_contact %>" />
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Send</button>
      </span>
  </div>
  </div>
</form>

<script>

  socket.emit('newConversation', <%= contact.con_message %>);

  socket.on('emitMessage', function(data){
    $messages.prepend('<b> '+data.nick+':</b> '+data.msg+'</br>');
  });

  var $messages = $('#listMessages');
  $('#newMessage').submit(function(e){
    e.preventDefault();
    /*
    var message = { message: $('#Message').val(), contact1: $('#Contact1').val(), contact2: $('#Contact2').val()};
    $.ajax({
      type: 'POST',
      data: JSON.stringify(message),
      contentType: 'application/json',
      url: '/contact/message/create',
    });
    */
    socket.emit('newMessage', <%= contact.con_message %>, $('#Contact1').val(), $('#Message').val());

    $('#Message').val('');
    return false;

  });

</script>
