<h2 class="page-header"> Contactos </h2>

<% var i; if (contacts) { for (i=0; i < contacts.length; i++){ %>

  <%  if (contacts[i].con_block == 0) { %>
    <div class="col-sm-4 col-xs-6 col-md-3 portfolio-item">
      <div class="panel <% if (contacts[i].User.online) { %> panel-success <% } else { %> panel-default <% } %> ">
    	  <div class="panel-body">
    			<% if (contacts[i].User.avatar) { %>
    				<img src="/images/avatar/<%= contacts[i].User.avatar %>" class="img-responsive" />
    			<% } else { %>
    				<img src="/images/avatar/avatar.jpg" class="img-responsive" />
    			<% } %>
    	  </div>
    	  <div class="panel-heading"><a href="/user/profile/<%= contacts[i].UserId %>"><%= contacts[i].User.nombre %></a>
          Solicitud enviada
    		</div>
      </div>
  	</div>
  <% } %>
  <%  if (contacts[i].con_block == 1) { %>
    <div class="col-sm-4 col-xs-6 col-md-3 portfolio-item">
      <div class="panel <% if (contacts[i].User.online) { %> panel-success <% } else { %> panel-default <% } %> ">
    	  <div class="panel-body">
    			<% if (contacts[i].User.avatar) { %>
    				<img src="/images/avatar/<%= contacts[i].User.avatar %>" class="img-responsive" />
    			<% } else { %>
    				<img src="/images/avatar/avatar.jpg" class="img-responsive" />
    			<% } %>
    	  </div>
    	  <div class="panel-heading"><a href="/user/profile/<%= contacts[i].UserId %>"><%= contacts[i].User.nombre %></a>
          Solicitud recibida
    		</div>
      </div>
  	</div>
  <% } %>

<% }} %>

<% var i; if (contacts) { for (i=0; i < contacts.length; i++){ %>
<tr>
  <%  if (contacts[i].con_block == 2) { %>
    <div class="col-sm-4 col-xs-6 col-md-3 portfolio-item">
      <div class="panel <% if (contacts[i].User.online) { %> panel-success <% } else { %> panel-default <% } %> ">
    	  <div class="panel-body">
          <% console.log(contacts[i].User.online)  %>
    			<% if (contacts[i].User.avatar) { %>
    				<img src="/images/avatar/<%= contacts[i].User.avatar %>" class="img-responsive" />
    			<% } else { %>
    				<img src="/images/avatar/avatar.jpg" class="img-responsive" />
    			<% } %>
    	  </div>
    	  <div class="panel-heading"><a href="/user/profile/<%= contacts[i].UserId %>"><%= contacts[i].User.nombre %></a>
    			<button type="button" class="btn btn-default  btn-xs dropdown-toggle pull-right"
    				data-toggle="dropdown">
    				<span class="caret"></span>
    			</button>
    			<ul class="dropdown-menu pull-right" role="menu">
            <li><a href="/user/profile/<%= contacts[i].UserId %>">Perfil</a></li>
    				<li><a href="/contact/message/send" >Mensajes</a></li>
            <li><a href="#" onClick="initChat(<%=contacts[i].con_message %>, <%= contacts[i].UserId %>, '<%= contacts[i].User.nombre %>')" >Chat</a></li>
    				<li class="divider"></li>
    				<li><a href="#" ><span class="text-warning" data-toggle="modal" data-target="#myModal5_<%= contacts[i].id %>">Bloquear</span></a></li>
            <li><a href="#" ><span class="text-danger" data-toggle="modal" data-target="#myModal6_<%= contacts[i].id %>">Eliminar</span></a></li>
    			</ul>
    		</div>
      </div>
  	</div>
    <!-- Formulario Bloquear Contact -->
    <div id="myModal5_<%= contacts[i].id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Bloquear contacto</h4>
          </div>
          <div class="modal-body">
            <p class="form-control-static">Bloquear contacto?</p>
            <form role="post" method="post" action="/contact/update_block?_method=put">
              <input type="hidden" name="contact[id]" value="<%= contacts[i].id %>" >
              <input type="hidden" name="contact[UserId]" value="<%= contacts[i].UserId %>" >
              <input type="submit" class="form-control btn btn-warning" value="Bloquear contacto" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Formulario Borrar Contact -->
    <div id="myModal6_<%= contacts[i].id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Borrar Contacto</h4>
          </div>
          <div class="modal-body">
            <p class="form-control-static">Borrar contacto?</p>
            <form role="post" method="post" action="/contact/delete?_method=delete">
              <input type="hidden" name="contact[id]" value="<%= contacts[i].id %>" >
              <input type="hidden" name="contact[UserId]" value="<%= contacts[i].UserId %>" >
              <input type="submit" class="form-control btn btn-danger" value="Borrar contacto" />
            </form>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</tr>
<% }} %>
