<div class="page-header">
	<h2>
		Mensajes Enviados
		<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Nuevo Mensaje</button>
	</h2>
	<div class="clearfix"></div>
</div>

<!-- Formulario Nueva Pieza -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nuevo Mensaje</h4>
      </div>
      <div class="modal-body">
				<form data-toggle="validator" id="newMessage" method="post" action="/contact/message/create">
					<div class="form-group has-feedback">
						<label class="control-label">Destinatario:</label>
						<select required id="Contact1" class="form-control" name="message[contact1]">
							<option value="">Selecciona a un amigo</option>
							<% var i; if (contacts) { for (i=0; i < contacts.length; i++){ %>
								<option value="<%= contacts[i].UserId %>"><%= contacts[i].User.nombre %></option>
							<% }} %>
						</select>
					</div>
						<div class="form-group">
							<input id="Topic" type="text" name="message[topic]" class="form-control" placeholder="Asunto" value="" autocomplete="off" />
						</div>
						<div class="form-group has-feedback">
							<textarea required id="Message" type="text" name="message[message]" class="form-control" placeholder="Respuesta" autocomplete="off" /></textarea>
							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>
						<div class="form-group">
						<button class="btn btn-success btn-block" type="submit">Enviar</button>
					</div>
				</form>
      </div>
    </div>
  </div>
</div>

<div id="msgEnviado"  class="alert alert-success collapse">
  <button type="button" class="close">&times;</button>
  <strong>¡Mensaje enviado!</strong>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% var i; if (messages) { for (i=0; i < messages.length; i++){ %>
	<% if (messages[i].mes_read == 0) { %>
  <div id="panel<%= messages[i].id %>" class="panel panel-success">
	<% } else { %>
	<div class="panel panel-default">
	<% } %>
    <div class="panel-heading" role="tab" id="heading<%= messages[i].id %>">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= messages[i].id %>" aria-expanded="false" aria-controls="collapse<%= messages[i].id %>">
        <div class="row">
          <div class="col-xs-3"><%= name[i] %></div>
          <div class="col-xs-9"><%= messages[i].mes_topic %><br><%= moment(messages[i].createdAt).format("H:mm:ss - DD/MM/YYYY") %></div>
        </div>
      </a>
    </div>
    <div id="collapse<%= messages[i].id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= messages[i].id %>">
      <div class="panel-body">
				<pre>
					<%= messages[i].mes_message %>
				</pre>
				<!--
				La contestación en los mensajes enviados no tiene mucho sentido
				<hr>
        <form id="newMessage_2" method="post" action="/contact/message/create">
            <div class="form-group">
							<input id="Topic_2" type="text" name="message[topic]" class="form-control" value="Re: <%= messages[i].mes_topic %>" autocomplete="off" />
						</div>
						<div class="form-group">
							<textarea id="Message_2" type="text" name="message[message]" class="form-control" placeholder="Respuesta" autocomplete="off" /></textarea>
              <input id="Contact1_2" type="hidden" name="message[contact1]" value="<%= messages[i].UserId %>" />
            </div>
            <div class="form-group">
            <button class="btn btn-success btn-block" type="submit">Contestar</button>
          </div>
        </form>
				-->
      </div>
    </div>
  </div>
  <% }} else { %>
  No hay mensajes.
  <% } %>
</div>


<script>

	$('.alert .close').on('click', function(e) {
	    $(this).parent().hide();
	});

  $('#newMessage').submit(function(e){
    e.preventDefault();
    var message = { message: $('#Message').val(), topic: $('#Topic').val(), contact1: $('#Contact1').val()};
    $.ajax({
      type: 'POST',
      data: JSON.stringify(message),
      contentType: 'application/json',
      url: '/contact/message/create',
    }).done( function() {
			socket.emit('addMessage', $('#Contact1').val());
		});

		$('#msgEnviado').show();

    $('#Message').val('');
		$('#Topic').val('');
    return false;

  });
/*
	// La contestación no tiene sentido
	$('#newMessage_2').submit(function(e){
		e.preventDefault();
		var message = { message: $('#Message_2').val(), topic: $('#Topic_2').val(), contact1: $('#Contact1_2').val()};
		$.ajax({
			type: 'POST',
			data: JSON.stringify(message),
			contentType: 'application/json',
			url: '/contact/message/create',
		}).done( function() {
			socket.emit('addMessage', $('#Contact1_2').val());
		});

		$('#msgEnviado').show();

		$('#Message_2').val('');
		$('#Topic_2').val('');
		return false;

	});
*/
  $('form').keypress(function(e){
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });

  expandTextarea('Message');

</script>

<!--

-->
