<% include partial_promenu %><p>

<h2 class="page-header"> Cajón de Ideas </h2>

<!-- Formulario Nueva Idea -->
<button id="displayText" class="submit" style="display: block" type="button" onclick="$('#toggleText').toggle(); $('#displayText').toggle();">Nueva Idea </button>
<div id="toggleText" style="display: none">
<a id="closeText" class="submit" href="#" style="	float: right;" type="button" onclick="$('#toggleText').toggle(); $('#displayText').toggle();">Cerrar</a>
	<form method="post" action="/project/<%= project.pro_url %>/ideas/create">
	  <label for="nom" class="rem">Idea:</label>
		<textarea rows="4" cols="50" name="idea[ide_idea]" placeholder="Idea"></textarea><p>
	  <input type="submit" value="Salvar" />
	</form>
</div>

<% var i; if (ideas) { for (i=0; i < ideas.length; i++){ %>
	<table>
		<tr>
			<td> <%= ideas[i].ide_idea %> </td>
		</tr>
	</table>
<% }} %>
<tr>
	<% if (pag.current > 0) { %>
	<td><a href="/project/<%= project.pro_url %>/ideas?pag=<%= pag.current-1 %>"> <- </a></td>
	<% } %>
	<% if (pag.current+1 < pag.total) { %>
	<td><a href="/project/<%= project.pro_url %>/ideas?pag=<%= pag.current+1 %>"> -> </a></td>
	<% } %>
</tr>
