<% include partial_promenu %><p>

  <script>
  $('#project_menu a:contains("Gestión")').parent().addClass("active");
  </script>

<h3 class="page-header">
  Configuración Proyecto
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal1">Editar</button>
  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal2">Borrar</button>
</h3>

  <h3 >Portada de proyecto: </h3>
    <p>
    	La portada es el espacio público del proyecto, que permite dar a conocer todo lo referido a él.
    </p>

  <% if (project.pro_portada) { %>
    Ya tienes la portada creada.
    <a href="/project/<%= project.pro_url %>/front">Ver portada</a>

    <form method="post" action="/project/<%= project.pro_url %>/update?_method=put">
      <input type="hidden" id="nom" name="project[pro_portada]" value="0" />
      <input type="submit" value="Borrar portada" />
    </form>

  <% } else { %>
    <form method="post" action="/project/<%= project.pro_url %>/update?_method=put">
      <input type="hidden" id="nom" name="project[pro_portada]" value="1" />
      <input type="submit" class="btn btn-success" value="Crear portada" />
    </form>
  <% } %>

<br>

<!-- Formulario Editar Proyecto -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Proyecto</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/update?_method=put">
          <div class="form-group">
            <label for="nom" class="rem">Nombre:</label>
            <input type="text" class="form-control" name="project[pro_nombre]" value="<%= project.pro_nombre%>" /> </p>
          </div>
          <input type="submit" class="form-control btn btn-success" value="Salvar" />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Borrar Proyecto -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Borrar Proyecto</h4>
      </div>
      <div class="modal-body">
        <p class="form-control-static">Borrar Proyecto?</p>
        <form role="form" method="post" action="/project/<%= project.pro_url %>/<%= project.id %>?_method=delete">
          <button type="submit" class="form-control btn btn-danger">Borrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
