<% include partial_promenu %><p>

  <script>
  $('#project_menu a:contains("Gestión")').parent().addClass("active");
  </script>

<h3 class="page-header">Configuración </h3>

  <h3 >Portada de proyecto: </h3>
    <p>
    	La portada es el espacio público del proyecto, que permite dar a conocer todo lo referido a él.
    </p>

  <% if (project.pro_portada) { %>
    Ya tienes la portada creada.
    <a href="/project/<%= project.pro_url %>/front">Ver portada</a>

    <form method="post" action="/project/<%= project.pro_url %>/update?_method=put">
      <input type="hidden" id="nom" name="project[pro_portada]" value="0" />
      <input type="submit" value="Borrar portada" />
    </form>

  <% } else { %>
    <form method="post" action="/project/<%= project.pro_url %>/update?_method=put">
      <input type="hidden" id="nom" name="project[pro_portada]" value="1" />
      <input type="submit" value="Crear portada" />
    </form>
  <% } %>

<br>

<h3>Modificar proyecto: </h3>

<form method="post" action="/project/<%= project.pro_url %>/update?_method=put">
  <label for="nom" class="rem">Nombre:</label>
  <input type="text" id="nom" name="project[pro_nombre]" value="<%= project.pro_nombre%>" /> </p>
  <input type="submit" value="Salvar" />
</form>
