
<link rel="stylesheet" href="/stylesheets/timeline.css"> <!-- Resource style -->
<script src="/js/timeline.js"></script> <!-- Resource jQuery -->
<script src="/js/popover.js"></script> <!-- Resource jQuery -->

<script>


</script>

<nav class="menu_pro" id="n1" role="navigation">

  <div class="row">
      <div class="col-md-2 col-sm-2">
        <div id="project_menu" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
                  <% if (project.pro_logo) { %>
                    <img src="/images/logo/<%= project.pro_logo %>"class="img-responsive img-rounded";/>
                  <% } else { %>
                    <img src="/images/logo/logo.png" class="img-responsive img-rounded";/>
                  <% } %>
            <h8>Título del botón</h8><span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
            <li><a href="/project/<%= project.pro_url%> ">Resumen</a></li>
            <li><a href="/project/<%= project.pro_url%>/pieces ">Piezas</a></li>
            <li><a href="/project/<%= project.pro_url%>/ideas ">Ideas</a></li>
            <li><a href="/project/<%= project.pro_url%>/tasks ">Tareas</a></li>
            <li><a href="/project/<%= project.pro_url%>/members ">Miembros</a></li>
            <li><a href="/project/<%= project.pro_url%>/logs ">Logbook</a></li>
            <li><a href="/project/<%= project.pro_url%>/board ">Tablón</a></li>
            <li><a href="/project/<%= project.pro_url%>/polls ">Encuesta</a></li>
            <li><a href="/project/<%= project.pro_url%>/problems ">Problemas</a></li>
            <li><a href="/project/<%= project.pro_url%>/meetings ">Sala de Reuniones</a></li>
            <li><a href="/project/<%= project.pro_url%>/manage ">Gestión</a></li>
          </ul>
        </div>

    </div>

      <div class="col-md-10 col-sm-10">

        <h3 class="page-header">
          <% if (project) { %>
          Proyecto <%=  project.pro_nombre  %>
          <% } %>
        </h3>
        <section class="cd-horizontal-timeline">
        	<div class="timeline">
        		<div class="events-wrapper">
        			<div class="events">
        				<ol>
                  <li>
                    <a id="event_hoy" onClick="event_well(this)" tabindex="0" role="button" data-toggle="collapse" href="#collapseEvent" data-content="Hoy es el día" aria-expanded="false" aria-controls="collapseEvent" data-date="" class="selected listevent">Hoy</a></li>
                    <!--<a id="event_hoy" role="button" data-toggle="collapse" href="#collapseEvent" aria-expanded="false" aria-controls="collapseEvent" data-date=""></a></li>-->
                  <script>
                    var fecha = getDate(new Date());
                    $('#event_hoy').data('date', fecha[0]);
                    $('#event_hoy').html(fecha[1]);
onchange="enableTxt(this)"
                    //$( ".listevent" ).click(function() {
                    //  console.log($(this).data('content'));
                    //  $('#collapseEvent div').html($(this).data('content'));
                    //});

                    function event_well (elem) {
                      $('#alertEvent div').html($(elem).data('content'));
                      $('#alertEvent').show();
                    };

                  </script>
                </ol>

        				<span class="filling-line" aria-hidden="true"></span>
        			</div> <!-- .events -->
        		</div> <!-- .events-wrapper -->

        		<ul class="cd-timeline-navigation">
        			<li><a href="#0" class="prev inactive">Prev</a></li>
        			<li><a href="#0" class="next">Next</a></li>
              <li><a type="button" class="btn btn-info add" data-toggle="modal" data-target="#myModal_ev">+</a></li>
        		</ul> <!-- .cd-timeline-navigation -->
        	</div> <!-- .timeline -->

          <div id="alertEvent" class="alert alert-warning collapse">
            <button type="button" class="close" >&times;</button>
            <div>  Hola </div>
          </div>

          <script>

          $('#alertEvent .close').on('click', function() {
            console.log("Pulsado");
              $('#alertEvent').hide();
          });

        </script>

          <!-- Formulario Nuevo Evento -->
          <div id="myModal_ev" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Nuevo Evento</h4>
                </div>
                <div class="modal-body">
                  <form id="newEvent" role="form" method="post" action="/project/<%= project.pro_url %>/events/create ">
          					<div class="form-group">
          						<label class="sr-only">Evento</label>
          						<input type="text" class="form-control" name="eve_evento" placeholder="Evento" autocomplete="off" value="" />
          					</div>
          					<div class="form-group">
          						<label class="control-label">Tipo:</label>
                      <div class="radio-inline"><input type="radio" name="eve_tipo" value="0" > General </div>
                      <div class="radio-inline"><input type="radio" name="eve_tipo" value="1" > Tarea </div>
                      <div class="radio-inline"><input type="radio" name="eve_tipo" value="2" > Encuesta </div>
                      <div class="radio-inline"><input type="radio" name="eve_tipo" value="3" > Reunión </div>
                      <div class="radio-inline"><input type="radio" name="eve_tipo" value="4" > Objetivo </div>
          					</div>
                    <div class="form-group">
                      <div class="input-group">
                      <span class="input-group-addon">Fecha</span>
                      <input type="date" class="form-control" name="eve_date" value="" />
                      </div>
                    </div>
          					<input type="submit" class="form-control btn btn-success" value="Enviar" />
          				</form>
                </div>
              </div>
            </div>
          </div>

        </section>

      </div>

  </div>

</nav>

<script>



$('#newEvent').submit(function(e){
  e.preventDefault();
  var new_event = {}
  var array = $('#newEvent').serializeArray();
  $.each(array, function() {
      var name = this.name;
      var value = this.value;
      new_event[name] = value;
  });

  $.ajax({
    type: 'POST',
    data: JSON.stringify(new_event),
    contentType: 'application/json',
    url: '/project/<%= project.pro_url %>/events/create',
  });

  var fecha = getDate(new_event.eve_date);
  $('<li><a class="listevent" onClick="event_well(this)" id="event_'+new_event.eve_tipo+'" tabindex="0" role="button" data-toggle="collapse" data-trigger="hover" aria-expanded="false" aria-controls="collapseEvent" data-content="'+new_event.eve_evento+'" href="#collapseEvent" data-date="'+fecha[0]+'">'+fecha[1]+'</a></li>')
  .insertAfter('.events ol>li:last');
  $('[data-toggle="popover"]').popover();

  $('#myModal_ev').modal('toggle');

  var timelines = $('.cd-horizontal-timeline');
	if(timelines.length > 0) initTimeline(timelines);

  return false;
});

//$('<li><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="top"  data-content="Hola" href="#0" data-date="16/04/2016">Bien</a></li>')
//.insertAfter('.events ol>li:last');

$.get( '/project/<%= project.pro_url %>/events', function(events) {
  console.log(events);
  var i; if (events) { for (i=0; i < events.length; i++){
    var fecha = getDate(events[i].eve_date);
    $('<li><a class="listevent" onClick="event_well(this)" id="event_'+events[i].eve_tipo+'" tabindex="0" role="button" data-toggle="collapse" data-trigger="hover" aria-expanded="false" aria-controls="collapseEvent" data-content="'+events[i].eve_evento+'" href="#collapseEvent" data-date="'+fecha[0]+'">'+fecha[1]+'</a></li>')
    .insertAfter('.events ol>li:last');
    $('[data-toggle="popover"]').popover();
  }};

  var timelines = $('.cd-horizontal-timeline');
	if(timelines.length > 0) initTimeline(timelines);

});

$(function () {
  $('[data-toggle="popover"]').popover()
});

</script>
