<nav class="menu_pro" id="n1" role="navigation">

  <h2 class="page-header">
  <% if (project) { %>
  Proyecto <%=  project.pro_nombre  %>
  <% } %>
  </h2>

   <span><a href="/project/<%= project.pro_url%> ">Principal</a></span>
   <span><a href="/project/<%= project.pro_url%>/pieces ">Piezas</a></span>
   <span><a href="/project/<%= project.pro_url%>/ideas ">Ideas</a></span>
   <span><a href="/project/<%= project.pro_url%>/tasks ">Tareas</a></span>
   <span><a href="/project/<%= project.pro_url%>/members ">Miembros</a></span>
   <span><a href="/project/<%= project.pro_url%>/logs ">Logbook</a></span>
   <span><a href="/project/<%= project.pro_url%>/board ">Tablón</a></span>
   <span><a href="/project/<%= project.pro_url%>/pieces ">Encuesta</a></span>
   <span><a href="/project/<%= project.pro_url%>/pieces ">Problemas</a></span>
   <span><a href="/project/<%= project.pro_url%>/manage ">Gestión</a></span>
</nav>
