<nav class="menu_pro" id="n1" role="navigation">

  <h2 class="page-header">
  <% if (project) { %>
  Proyecto <%=  project.pro_nombre  %>
  <% } %>
  </h2>

  <ul id="project_menu" class="nav nav-pills">
    <li><a href="/project/<%= project.pro_url%> ">Resumen</a></li>
    <li><a href="/project/<%= project.pro_url%>/pieces ">Piezas</a></li>
    <li><a href="/project/<%= project.pro_url%>/ideas ">Ideas</a></li>
    <li><a href="/project/<%= project.pro_url%>/tasks ">Tareas</a></li>
    <li><a href="/project/<%= project.pro_url%>/members ">Miembros</a></li>
    <li><a href="/project/<%= project.pro_url%>/logs ">Logbook</a></li>
    <li><a href="/project/<%= project.pro_url%>/board ">Tablón</a></li>
    <li><a href="/project/<%= project.pro_url%>/polls ">Encuesta</a></li>
    <li><a href="/project/<%= project.pro_url%>/problems ">Problemas</a></li>
    <li><a href="/project/<%= project.pro_url%>/meetings ">Sala de Reuniones</a></li>
    <li><a href="/project/<%= project.pro_url%>/manage ">Gestión</a></li>
  </ul>


</nav>
