<% include partial_promenu %><p>

<h2 class="page-header">
Piezas
</h2>

<!-- Formulario Nueva Pieza -->
<button id="displayText" class="submit" style="display: block" type="button" onclick="$('#toggleText').toggle(); $('#displayText').toggle();">Nueva Pieza </button>
<div id="toggleText" style="display: none">
<a id="closeText" class="submit" href="#" style="	float: right;" type="button" onclick="$('#toggleText').toggle(); $('#displayText').toggle();">Cerrar</a>
	<form method="post" action="/project/<%= project.pro_url %>/pieces/create">
	  <label for="nom" class="rem">Nombre:</label>
	  <input type="text" id="nom" name="piece[pie_nombre]" placeholder="<%= piece.pie_nombre%>" value="" /> </p>
		<label for="nom" class="rem">Prioridad:</label>
		<input type="radio" name="piece[pie_prioridad]" value="0" > General
		<input type="radio" name="piece[pie_prioridad]" value="1" > Esencial
		<input type="radio" name="piece[pie_prioridad]" value="2" > Útil
		<input type="radio" name="piece[pie_prioridad]" value="3" > Laborioso
		<input type="radio" name="piece[pie_prioridad]" value="4" > Desechado
		</p>
	  <a href="/project/<%= project.pro_url %>/pieces"><button type="button">Cancelar</button></a>
	  <input type="submit" value="Salvar" />
	</form>
</div>

<h2> Lista de Piezas </h2>

<% var i; if (pieces) { for (i=0; i < pieces.length; i++){ %>
	<table>
		<tr>
		  <td><a href="/project/<%= project.pro_url %>/pieces/<%= pieces[i].pie_url %>"> <%= pieces[i].pie_nombre %></a></td>
			<td> <script>document.write( get_prioridad(<%= pieces[i].pie_prioridad %>) );</script> </td>
			<td> <%= pieces[i].User.nombre %> </td>
		</tr>
	</table>
<% }} %>
