<% include partial_promenu %><p>

<h2 class="page-header">
  Pieza
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal1">Editar</button>
  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal2">Borrar</button>
  <button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#myModal6">Añadir Problema</button>
</h2>

<%= piece.pie_nombre %> - Proyecto: <%= piece.ProjectId %> - Tarea: <%= piece.id %>  - <%= piece.User.nombre %> </p>

<!-- Formulario Editar Pieza -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Pieza</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/pieces/<%= piece.id %>?_method=put ">
					<div class="form-group">
						<label class="sr-only">Nombre Pieza</label>
						<input type="text" class="form-control" name="piece[pie_nombre]" value="<%= piece.pie_nombre%>" value="" />
					</div>
					<div class="form-group">
						<label class="control-label">Prioridad:</label>
            <div class="radio-inline"><input id="check<%= piece.id %>0" type="radio" name="piece[pie_prioridad]" value="0" > General </div>
            <div class="radio-inline"><input id="check<%= piece.id %>1" type="radio" name="piece[pie_prioridad]" value="1" > Esencial </div>
            <div class="radio-inline"><input id="check<%= piece.id %>2" type="radio" name="piece[pie_prioridad]" value="2" > Útil </div>
            <div class="radio-inline"><input id="check<%= piece.id %>3" type="radio" name="piece[pie_prioridad]" value="3" > Laborioso </div>
            <div class="radio-inline"><input id="check<%= piece.id %>4" type="radio" name="piece[pie_prioridad]" value="4" > Desechado </div>
            <script>$('#check<%= piece.id %><%= piece.pie_prioridad %>').prop('checked', true);</script>
					</div>
          <div class="form-group">
						<label class="control-label">Responsable:</label>
						<select class="form-control" name="piece[UserId]">
						  <option value="<%= piece.UserId%>">Responsable Actual - <%= piece.User.nombre%> </option>
							<% var i; if (members) { for (i=0; i < members.length; i++){ %>
						  	<option value="<%= members[i].UserId %>"><%= members[i].User.nombre %></option>
							<% }} %>
						</select>
					</div>
					<input type="submit" class="form-control btn btn-success" value="Editar" />
				</form>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Borrar Pieza -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Borrar Pieza</h4>
      </div>
      <div class="modal-body">
        <p class="form-control-static">Borrar Pieza?</p>
        <form role="form" method="post" action="/project/<%= project.pro_url %>/pieces/<%= piece.id %>?_method=delete">
          <button type="submit" class="form-control btn btn-danger">Borrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Añadir Problem -->
<div id="myModal6" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Añadir Problema</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/problems/<%= piece.pie_url %>/create">
          <div class="form-group">
            <label class="sr-only">Problema</label>
            <textarea class="form-control" rows="3" name="problem[prb_problema]" placeholder="Descripción <%= problem.prb_problema %>"></textarea>
            <input type="hidden" name="problem[prb_estado]" value="0"/>
            <input type="hidden" name="problem[PieceId]" value="<%= piece.id%>"/>
            <input type="hidden" name="problem[ProjectId]" value="<%= project.id%>"/>
          </div>
          <input type="submit" class="form-control btn btn-success" value="Salvar" />
        </form>
      </div>
    </div>
  </div>
</div>


<% var i; if (problems.length > 0) { %>

  <h3 class="page-header">
    Problemas
  </h3>

  <div class="list-group">
    <% for (i=0; i < problems.length; i++){ %>
      <a href="/project/<%= project.pro_url %>/problems/<%= problems[i].id %>" class="list-group-item"><%= problems[i].prb_problema %> - <%= problems[i].prb_estado %></a>
    <% } %>
  </div>
<% } %>

<h3 class="page-header">
  Tareas
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal3">Añadir Tarea</button>
</h3>

<!-- Formulario Añadir Task -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Añadir Tarea</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/tasks/<%= piece.pie_url %>/create">
          <div class="form-group">
            <label class="sr-only">Tarea</label>
            <textarea class="form-control" rows="3" name="task[tas_tarea]" placeholder="Descripción <%= task.tas_tarea%>"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Autor:</label><br>
            <input type="checkbox" id="checkboxTodos" name="task[tas_todos]" value="1"> Todos los miembros?
            <script type="text/javascript">
              $("#checkboxTodos").change(function() {
                  if(this.checked) {
                  $('#miembrosTodos').hide();
                } else {
                  $('#miembrosTodos').show();
                }
              });
            </script>
          </div>
          <div class="form-group">
            <select id="miembrosTodos" class="form-control" name="task[UserId]">
              <option value="0">Selecciona autor - Yo </option>
              <% var i; if (members) { for (i=0; i < members.length; i++){ %>
                <option value="<%= members[i].UserId %>"><%= members[i].User.nombre %></option>
              <% }} %>
            </select>
          </div>
          <input type="hidden" id="tar" name="task[tas_estado]" value="0"/>
          <input type="hidden" id="tar" name="task[PieceId]" value="<%= piece.id%>"/>
          <input type="submit" class="form-control btn btn-success" value="Salvar" />
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-condensed">
<% var i; if (tasks) { for (i=0; i < tasks.length; i++){ %>
	<tr>
	  <td><%= tasks[i].tas_tarea %></td>
    <td class="col-md-1">
      <% if (tasks[i].tas_todos == "1") { %>
        Todos
      <% } else { %>
        <%= tasks[i].User.nombre %></script>
      <% } %>
    </td>
    <td class="col-md-1"><script>document.write( get_estado(<%= tasks[i].tas_estado %>) );</script></td>
    <td class="col-md-1">
      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal4">Borrar Tarea</button>
      <!-- Formulario Borrar Task -->
      <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Borrar Tarea</h4>
            </div>
            <div class="modal-body">
              <p class="form-control-static">Borrar Tarea?</p>
              <form role="form" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=delete">
                <input type="hidden" id="tar" name="piece[pie_url]" value="<%= piece.pie_url%>"/>
                <button type="submit" class="form-control btn btn-danger">Borrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="col-md-1">
    <!-- Formulario Editar Task -->
    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal5_<%= tasks[i].id %>">Editar Tarea</button>
    <div id="myModal5_<%= tasks[i].id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Pieza</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
    					<div class="form-group">
    						<label class="sr-only">Nombre Tarea</label>
                <input type="text" class="form-control" name="task[tas_tarea]" value="<%= tasks[i].tas_tarea%>" />
    					</div>
    					<div class="form-group">
    						<label class="control-label">Estado:</label>
                <input id="check<%= tasks[i].id %>0" type="radio" name="task[tas_estado]" value="0" > En cola
                <input id="check<%= tasks[i].id %>1" type="radio" name="task[tas_estado]" value="1" > En desarollo
                <input id="check<%= tasks[i].id %>2" type="radio" name="task[tas_estado]" value="2" > Boceto
                <input id="check<%= tasks[i].id %>3" type="radio" name="task[tas_estado]" value="3" > Perfilado
                <input id="check<%= tasks[i].id %>4" type="radio" name="task[tas_estado]" value="4" > terminado
                <script>$('input#check<%= tasks[i].id %><%= tasks[i].tas_estado %>').prop('checked', true);</script>
    					</div>
              <div class="form-group">
                <label class="control-label">Autor:</label><br>
                <input type="checkbox" id="checkboxTodos_Task" name="task[tas_todos]" value="1"> Todos los miembros?
                <script type="text/javascript">
                  $("#checkboxTodos_Task").change(function() {
                      if(this.checked) {
                      $('#miembrosTodos_Task').hide();
                    } else {
                      $('#miembrosTodos_Task').show();
                    }
                  });
                </script>
              </div>
              <div class="form-group">
                <select id="miembrosTodos_Task" class="form-control" name="task[UserId]">
                  <option value="<%= tasks[i].UserId%>">Autor Actual - <%= tasks[i].User.nombre%> </option>
                  <% var j; if (members) { for (j=0; j < members.length; j++){ %>
                    <option value="<%= members[j].UserId %>"><%= members[j].User.nombre %></option>
                  <% }} %>
                </select>
              </div>
              <input type="hidden" id="tar" name="piece[pie_url]" value="<%= piece.pie_url%>"/>
    					<input type="submit" class="form-control btn btn-success" value="Editar" />
    				</form>
          </div>
        </div>
      </div>
    </div>
  </td>
  </tr>

<% }} %>
</table>


<h3 class="page-header">
  Notas
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal7">Añadir nota</button>
</h3>

<!-- Formulario Añadir Note -->
<div id="myModal7" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Añadir Nota</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/notes/<%= piece.pie_url %>/create">
          <div class="form-group">
            <label class="sr-only">Nota</label>
            <textarea class="form-control" rows="3" name="note[not_nota]" placeholder="Descripción <%= note.not_nota %>"></textarea>
            <input type="hidden" name="note[PieceId]" value="<%= piece.id%>"/>
            <input type="hidden" name="note[ProjectId]" value="<%= project.id%>"/>
          </div>
          <input type="submit" class="form-control btn btn-success" value="Salvar" />
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-condensed">
<% var i; if (notes) { for (i=0; i < notes.length; i++) { %>
	<tr>
	  <td><%= notes[i].not_nota %></td>
    <td><%= notes[i].User.nombre %></td>
    <% if (notes[i].User.nombre == session_user.username) { %>
    <td class="col-md-1">
      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal8">Borrar Nota</button>
      <!-- Formulario Borrar Note -->
      <div id="myModal8" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Borrar Nota</h4>
            </div>
            <div class="modal-body">
              <p class="form-control-static">Borrar Nota?</p>
              <form role="form" method="post" action="/project/<%= project.pro_url %>/notes/<%= notes[i].id %>?_method=delete">
                <input type="hidden" id="tar" name="piece[pie_url]" value="<%= piece.pie_url%>"/>
                <button type="submit" class="form-control btn btn-danger">Borrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </td>
    <% } %>
  </tr>
<% }} %>
</table>
