<% include partial_promenu %><p>

<h2 class="page-header">
  Pieza
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal1">Editar</button>
  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal2">Borrar</button>
</h2>

<%= piece.pie_nombre %> - Proyecto: <%= piece.ProjectId %> - Tarea: <%= piece.id %>  - <%= piece.User.nombre %> </p>

<!-- Formulario Editar Pieza -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Pieza</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/pieces/<%= piece.id %>?_method=put ">
					<div class="form-group">
						<label class="sr-only">Nombre Pieza</label>
						<input type="text" class="form-control" name="piece[pie_nombre]" value="<%= piece.pie_nombre%>" value="" />
					</div>
					<div class="form-group">
						<label class="control-label">Prioridad:</label>
            <div class="radio-inline"><input id="check<%= piece.id %>0" type="radio" name="piece[pie_prioridad]" value="0" > General </div>
            <div class="radio-inline"><input id="check<%= piece.id %>1" type="radio" name="piece[pie_prioridad]" value="1" > Esencial </div>
            <div class="radio-inline"><input id="check<%= piece.id %>2" type="radio" name="piece[pie_prioridad]" value="2" > Útil </div>
            <div class="radio-inline"><input id="check<%= piece.id %>3" type="radio" name="piece[pie_prioridad]" value="3" > Laborioso </div>
            <div class="radio-inline"><input id="check<%= piece.id %>4" type="radio" name="piece[pie_prioridad]" value="4" > Desechado </div>
            <script>$('#check<%= piece.id %><%= piece.pie_prioridad %>').prop('checked', true);</script>
					</div>
					<input type="submit" class="form-control btn btn-success" value="Editar" />
				</form>
      </div>
    </div>
  </div>
</div>


<!-- Formulario Borrar Pieza -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Borrar Pieza</h4>
      </div>
      <div class="modal-body">
        <p class="form-control-static">Borrar Pieza?</p>
        <form role="form" method="post" action="/project/<%= project.pro_url %>/pieces/<%= piece.id %>?_method=delete">
          <button type="submit" class="form-control btn btn-danger">Borrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<h3 class="page-header">
  Tareas
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal3">Añadir Tarea</button>
</h3>

<!-- Formulario Añadir Task -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Añadir Tarea</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/tasks/<%= piece.pie_url %>/create">
          <div class="form-group">
            <label class="sr-only">Tarea</label>
            <textarea class="form-control" rows="3" name="task[tas_tarea]" placeholder="Descripción <%= task.tas_tarea%>"></textarea>
          </div>
          <input type="hidden" id="tar" name="task[tas_estado]" value="0"/>
          <input type="hidden" id="tar" name="task[PieceId]" value="<%= piece.id%>"/>
          <input type="submit" class="form-control btn btn-success" value="Salvar" />
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-condensed">
<% var i; if (tasks) { for (i=0; i < tasks.length; i++){ %>
	<tr>
	  <td><%= tasks[i].tas_tarea %></td>
    <td class="col-md-2"><script>document.write( get_estado(<%= tasks[i].tas_estado %>) );</script></td>
    <td class="col-md-1">
      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal4">Borrar Tarea</button>
      <!-- Formulario Borrar Task -->
      <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Borrar Tarea</h4>
            </div>
            <div class="modal-body">
              <p class="form-control-static">Borrar Tarea?</p>
              <form role="form" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=delete">
                <input type="hidden" id="tar" name="piece[pie_url]" value="<%= piece.pie_url%>"/>
                <button type="submit" class="form-control btn btn-danger">Borrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="col-md-1">
    <!-- Formulario Editar Task -->
    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal5_<%= tasks[i].id %>">Editar Tarea</button>
    <div id="myModal5_<%= tasks[i].id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Pieza</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
    					<div class="form-group">
    						<label class="sr-only">Nombre Tarea</label>
                <input type="text" class="form-control" name="task[tas_tarea]" value="<%= tasks[i].tas_tarea%>" />
    					</div>
    					<div class="form-group">
    						<label class="control-label">Estado:</label>
                <input id="check<%= tasks[i].id %>0" type="radio" name="task[tas_estado]" value="0" > En cola
                <input id="check<%= tasks[i].id %>1" type="radio" name="task[tas_estado]" value="1" > En desarollo
                <input id="check<%= tasks[i].id %>2" type="radio" name="task[tas_estado]" value="2" > Boceto
                <input id="check<%= tasks[i].id %>3" type="radio" name="task[tas_estado]" value="3" > Perfilado
                <input id="check<%= tasks[i].id %>4" type="radio" name="task[tas_estado]" value="4" > terminado
                <script>$('input#check<%= tasks[i].id %><%= tasks[i].tas_estado %>').prop('checked', true);</script>
    					</div>
              <input type="hidden" id="tar" name="piece[pie_url]" value="<%= piece.pie_url%>"/>
    					<input type="submit" class="form-control btn btn-success" value="Editar" />
    				</form>
          </div>
        </div>
      </div>
    </div>
  </td>
  </tr>


<% }} %>
</table>
