<% include partial_promenu %><p>

<p>
  Pieza
</p>

<td><%= piece.pie_nombre %> - Proyecto: <%= piece.ProjectId %> - Tarea: <%= piece.id %>  - <%= piece.User.nombre %></td>

<h3>Tareas</h3>
<table>
<% var i; if (tasks) { for (i=0; i < tasks.length; i++){ %>
	<tr>
	  <td><%= tasks[i].tas_tarea %></td>
	</tr>
<% }} %>
</table>

<button id="displayText" class="submit" style="display: block" type="button" onclick="$('#toggleText').toggle(); $('#displayText').toggle();">Nueva Tarea </button>

<div id="toggleText" style="display: none">
<a id="closeText" class="submit" href="#" style="	float: right;" type="button" onclick="$('#toggleText').toggle(); $('#displayText').toggle();">Cerrar</a>

<form method="post" action="/project/<%= project.pro_url %>/tasks/<%= piece.pie_url %>/create">
  <label for="tar" class="rem">Tarea:</label><p>
  <textarea rows="4" cols="50" name="task[tas_tarea]" placeholder="Descripción <%= task.tas_tarea%>"></textarea><p>
  <input type="hidden" id="tar" name="task[PieceId]" value="<%= piece.id%>"/>
  <a href="/project/<%= project.pro_url %>/pieces/<%= piece.pie_url %>"><button type="button">Cancelar</button></a>
  <input type="submit" value="Salvar" />
</form>

</div>
