<% include partial_promenu %><p>

	<script>
	$('#project_menu a:contains("Encuesta")').parent().addClass("active");
	$('#project_menu h8').html('Encuesta');
	</script>

	<div class="page-header">
  	<h2>
			Encuesta
			<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal1">Editar</button>
			<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal3">Borrar</button>
  	</h2>
  	<div class="clearfix"></div>
  </div>

<!-- Formulario Editar Encuesta -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Pregunta</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/project/<%= project.pro_url %>/polls/<%= poll.id %>?_method=put ">
					<div class="form-group">
						<label class="sr-only">Pregunta</label>
						<input type="text" class="form-control" name="poll[pol_pregunta]" value="<%= poll.pol_pregunta%>" value="" />
					</div>
					<input type="submit" class="form-control btn btn-success" value="Editar" />
				</form>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Borrar Encuesta -->
<div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Borrar Encuesta</h4>
			</div>
			<div class="modal-body">
				<p class="form-control-static">Borrar Encuesta?</p>
				<form role="form" method="post" action="/project/<%= project.pro_url %>/polls/<%= poll.id %>?_method=delete">
					<button type="submit" class="form-control btn btn-danger">Borrar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
		<h3><%= poll.pol_pregunta %>
		<div class="clearfix">
			<button id="ver_resultados" class="btn btn-default pull-right" style="display:none" onclick="$('#ver_resultados').toggle(); $('#resultados_encuesta').toggle(); ">Ver Resultados</button>
			<button id="ver_nueva" class="btn btn-default pull-right" onclick="$('#nueva_respuesta').toggle(); console.log('Respuesta'); $('#nueva_respuesta form').validator('destroy'); $('#nueva_respuesta form').validator(); console.log('Respuesta 2');">Nueva Respuesta</button>
		</div>
		</h3>
	</div>
  <div id="resultados_encuesta" class="panel-body">
		<button type="button" class="close" aria-hidden="true" onclick="$('#ver_resultados').toggle(); $('#resultados_encuesta').toggle();" >&times;</button>
		<% var i; if (options) { for (i=0; i < options.length; i++){ %>
		<p><%= options[i].opt_respuesta %></p>
		<div class="progress progress-striped">
		  <div class="progress-bar progress-bar-warning" role="progressbar"
		       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
		       style="width: <%= options[i].opt_votos/poll.pol_votos*100 %>%">
					 <%= options[i].opt_votos %> votos
		    <span class="sr-only">40% completado (éxito)</span>
		  </div>
		</div>
		<% }} %>
  </div>

  <ul class="list-group">
		<li id="nueva_respuesta" style="display:none" class="list-group-item">
		<!-- Formulario Añadir Respuesta -->
		<form data-toggle="validator" role="form" method="post" action="/project/<%= project.pro_url %>/polls/<%= poll.id %>/option/create">
			<div class="form-group has-feedback">
				<textarea required class="form-control" rows="3" name="option[opt_respuesta]" placeholder="Respuesta"></textarea>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<input type="hidden" name="option[opt_votos]" value="0" >
				<input type="hidden" name="option[PollId]" value="<%= poll.id %>" >
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-success" value="Salvar" />
			</div>
		</form>
		</li>
		<!-- Formulario Nuevo Voto -->
		<form id="salvar_voto" role="form" method="post" action="/project/<%= project.pro_url %>/polls/<%= poll.id %>/vote/create">
			<% var i; if (options) { for (i=0; i < options.length; i++){ %>
				<li class="list-group-item">
					<div class="radio-inline"><input type="radio" id="check<%= options[i].id %>" name="vote[vot_voto]" value="<%= options[i].id %>" > <%= options[i].opt_respuesta %> </div>
					<!-- Boton Borrar Respuesta -->
					<button id="delete_option" type="button" class="btn btn-xs btn-danger pull-right" data-toggle="modal" data-target="#myModal2_<%= options[i].id %>" >Borrar</button>
				</li>
			<% }} %>
			<script>$('#check<%= votes.vot_voto %>').prop('checked', true);</script>
			<input type="hidden" name="vote[PollId]" value="<%= poll.id %>" >
			<input type="hidden" name="vote[old_option]" value="<%= votes.vot_voto %>" >
			<li class="list-group-item"><input id="salvar_voto" type="submit" class="btn btn-success" value="Salvar Voto" /></li>
		</form>
		<% var i; if (options) { for (i=0; i < options.length; i++){ %>
		<!-- Formulario Borrar Respuesta -->
		<div id="myModal2_<%= options[i].id %>" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Borrar Respuesta</h4>
					</div>
					<div class="modal-body">
						<p class="form-control-static">Borrar Respuesta?<script>$("#delete_option").value();</script></p>
						<form role="form" method="post" action="/project/<%= project.pro_url %>/polls/<%= poll.id %>/option/<%= options[i].id %>?_method=delete">
							<button type="submit" class="form-control btn btn-danger">Borrar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<% }} %>
		<!-- Formulario Cambiar Voto -->
		<form id="cambiar_voto" role="form" method="post" action="/project/<%= project.pro_url %>/polls/<%= poll.id %>/vote/<%= votes.id %>?_method=put">
			<% var i; if (options) { for (i=0; i < options.length; i++){ %>
				<li class="list-group-item"><div class="radio-inline"><input type="radio" id="check<%= options[i].id %>" name="vote[vot_voto]" value="<%= options[i].id %>" > <%= options[i].opt_respuesta %> </div></li>
			<% }} %>
			<script>$('#check<%= votes.vot_voto %>').prop('checked', true);</script>
			<input type="hidden" name="vote[PollId]" value="<%= poll.id %>" >
			<input type="hidden" name="vote[old_option]" value="<%= votes.vot_voto %>" >
			<li class="list-group-item"><input type="submit" class="btn btn-success" value="Cambiar Voto" /></li>
		</form>
  </ul>
</div>

<% if (votes) {  %>
	<script>$('#salvar_voto').toggle();</script>
<% } else { %>
	<script>$('#cambiar_voto').toggle();</script>
	<script>$('#ver_resultados').toggle(); $('#resultados_encuesta').toggle();</script>
<% } %>
