<% include partial_promenu %><p>

<h3>Tablón de tareas</h3>

<ul>
  <li><h4>En cola</h4></li>
  <% var i; if (tasks) { for (i=0; i < tasks.length; i++){ %>
    <% if (tasks[i].tas_estado === 0) {  %>
  	<ul>
      <li>
      <span><%= tasks[i].id %></span>
  	  <span><%= tasks[i].tas_tarea %></span>
      <span><%= tasks[i].tas_estado %></span>
      <span>
        <form id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado+1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Bajar estado"> ▼ </a>
          <input type="hidden" id="change_hidden<%= tasks[i].id %>" name="task[tas_estado]" value="">
        </form>
      </span>
      </li>
  	</ul>
  <% }}} %>

  <li><h4>En desarrollo</h4></li>
  <% if (tasks) { for (i=0; i < tasks.length; i++){ %>
    <% if (tasks[i].tas_estado === 1) {  %>
    <ul>
      <li>
      <span><%= tasks[i].id %></span>
      <span><%= tasks[i].tas_tarea %></span>
      <span><%= tasks[i].tas_estado %></span>
      <span>
        <form id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado-1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Subir estado"> ▲ </a>
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado+1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Bajar estado"> ▼ </a>
          <input type="hidden" id="change_hidden<%= tasks[i].id %>" name="task[tas_estado]" value="">
        </form>
      </span>
      </li>
    </ul>
  <% }}} %>

  <li><h4>Boceto</h4></li>
  <% if (tasks) { for (i=0; i < tasks.length; i++){ %>
    <% if (tasks[i].tas_estado === 2) {  %>
    <ul>
      <li>
      <span><%= tasks[i].id %></span>
      <span><%= tasks[i].tas_tarea %></span>
      <span><%= tasks[i].tas_estado %></span>
      <span>
        <form id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado-1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Subir estado">  ▲ </a>
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado+1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Bajar estado"> ▼ </a>
          <input type="hidden" id="change_hidden<%= tasks[i].id %>" name="task[tas_estado]" value="">
        </form>
      </span>
      </li>
    </ul>
  <% }}} %>

  <li><h4>Perfinalo</h4></li>
  <% if (tasks) { for (i=0; i < tasks.length; i++){ %>
    <% if (tasks[i].tas_estado === 3) {  %>
    <ul>
      <li>
      <span><%= tasks[i].id %></span>
      <span><%= tasks[i].tas_tarea %></span>
      <span><%= tasks[i].tas_estado %></span>
      <span>
        <form id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado-1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Subir estado"> ▲ </a>
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado+1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Bajar estado"> ▼ </a>
          <input type="hidden" id="change_hidden<%= tasks[i].id %>" name="task[tas_estado]" value="">
        </form>
      </span>
      </li>
    </ul>
  <% }}} %>

  <li><h4>Terminado</h4></li>
  <% if (tasks) { for (i=0; i < tasks.length; i++){ %>
    <% if (tasks[i].tas_estado === 4) {  %>
    <ul>
      <li>
      <span><%= tasks[i].id %></span>
      <span><%= tasks[i].tas_tarea %></span>
      <span><%= tasks[i].tas_estado %></span>
      <span>
        <form id="change_form<%= tasks[i].id %>" method="post" action="/project/<%= project.pro_url %>/tasks/<%= tasks[i].id %>?_method=put">
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado-1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Subir estado"> ▲ </a>
          <a href="#" onclick='$("#change_hidden<%= tasks[i].id %>").val("<%= tasks[i].tas_estado+1 %>");
                     $("#change_form<%= tasks[i].id %>").submit();' title="Bajar estado"> ▼ </a>
          <input type="hidden" id="change_hidden<%= tasks[i].id %>" name="task[tas_estado]" value="">
        </form>
      </span>
      </li>
    </ul>
  <% }}} %>
</ul>
