<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
		<meta name="keyword" content="Networking">
    <link rel="icon" href="/favicon.png">

    <% if (typeof project !== 'undefined') { %>
      <meta property="og:url"                content="http://labuk.herokuapp.com/project/<%= project.pro_url %>/front" />
      <meta property="og:type"               content="website" />
      <meta property="og:title"              content="<%= project.pro_nombre %>" />
      <meta property="og:description"        content="<%= project.pro_eslogan %>" />
      <% if (project.logo) { %>
        <meta property="og:image"              content="http://labuk.herokuapp.com/images/logo/<%= project.pro_logo %>" />
      <% } else { %>
        <meta property="og:image"              content="http://labuk.herokuapp.com/images/logo/logo.png" />
      <% } %>
    <% } else { %>
      <meta property="og:url"                content="http://labuk.herokuapp.com" />
      <meta property="og:type"               content="website" />
      <meta property="og:title"              content="Proyecto Labuk" />
      <meta property="og:description"        content="Página del Proyecto Labuk" />
      <meta property="og:image"              content="http://labuk.herokuapp.com/images/logo/project-1.bmp" />
    <% } %>

    <title>Labuk - coworking</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/freelancer.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/labuk.js"></script>

    <% if(session.user.id != 1){%>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io();
      </script>
    	<script>
        var $countMessages = $("#countMessage");
        var count = 0;
        socket.on('connect', function () {
          socket.emit('newSession', '<%= session.user.id %>', '<%= session.user.username %>', '<%= session.user.username %>');
        });
        // Nuevo mensage
        socket.on('countMessage', function(data){
          if (data.count == 0) {
            $countMessages.html('');
          }  else {
            count = count + data.count;
            $countMessages.html(count);
          }
        });
        socket.on('checkUserCli', function(data){
          socket.emit('checkUserSer',data);
          console.log(data);
        });
    	</script>
    <% } %>

  </head>

  <% if(session.user.id == 1){%>
  <style>
  #wrapper.toggled {
      padding-left: 0px;
  }

  #wrapper {
      padding-left: 0px;
  }
  </style>
  <% } %>

  <body>

    <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if(session.user.id != 1){%>
          <a href="#menu-toggle" class="btn navbar-brand" id="menu-toggle"><span class="glyphicon glyphicon-th"></span></a>
          <a class="navbar-brand" href="/project">Labuk</a>
          <% } else { %>
          <a class="navbar-brand" href="/">Labuk</a>
          <% } %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- start: Notification -->
          <li>
            <a class="btn" href="/contact/message">
              <% if(session.user.id != 1){%>
              <span class="glyphicon glyphicon-bell"></span>
              <% } %>
              <span id="countMessage" class="badge"></span>
            </a>
          </li>
          <!-- end: Notification -->

					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user"></span>
							<% if(session.user.id == 1){%>
								Enter
							<%} else {%>
								<%= session.user.username %>
							<% } %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<% if(session.user.id == 1){%>
								<li><a href="/login"><i class="glyphicon glyphicon-off"></i> Log In</a></li>
								<li><a href="/user/new"><i class="glyphicon glyphicon-user"></i> Nuevo usuario</a></li>
							<%} else {%>
								<li><a href="/user/myprofile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
								<li><a href="/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
							<% } %>
						</ul>
					</li>
					<!-- end: User Dropdown -->
          </ul>
      </div>
    </nav>
  </div>


    <div id="wrapper">
<% if(session.user.id != 1){%>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/project"><span class="glyphicon glyphicon-wrench"></span><span class="hidden-tablet"> Proyectos</span></a></li>
                <li>
                  <a href="/contact/message">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <span class="hidden-tablet"> Mensajes</span></a>
                  <ul>
                      <li><a href="/contact/message"><i class="glyphicon glyphicon-chevron-right"></i><span class="hidden-tablet">Mensajes recibidos</span></a></li>
                      <li><a href="/contact/message/send"><i class="glyphicon glyphicon-chevron-left"></i><span class="hidden-tablet">Mensajes enviados</span></a></li>
                  </ul>
                </li>
                <li><a href="/contact"><span class="glyphicon glyphicon-user"></span><span class="hidden-tablet"> Contactos</span></a></li>
                <li><a href="/user"><span class="glyphicon glyphicon-user"></span><span class="hidden-tablet"> Usuarios</span></a></li>
                <li><a href="/author"><span class="glyphicon glyphicon-asterisk"></span><span class="hidden-tablet"> Créditos</span></a></li>
              </ul>
        </div>
        <!-- /#sidebar-wrapper -->
<% } %>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <% console.log('Error: '+errors.length); if (errors.length) { %>
                          <div id='ErrorMsgs' class="alert alert-warning alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <% for (var i in errors) { %>
                              <% if (errors[i].message) { %>
                                   Corregir errores: <br/>
                                   <span> <%- errors[i].message %> </span><br/>
                              <% } else { %>
                                   <span> <%- errors[i].mess_logout %> </span><br/>
                              <% } %>
                          <% } %>
                          </div>
                        <% } %>

                        <%- body%>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


  </body>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

</html>
